name: Autograding Tests
'on':
- push
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Marks
      id: marks
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Marks
        setup-command: ''
        command: make test
        timeout: 10
        max-score: 30
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        MARKS_RESULTS: "${{steps.marks.outputs.result}}"
      with:
        runners: marks
